/* Configurações Gerais*/
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(180deg, #9c9a9a, #f5f5f5);
    padding: 0;
    margin: 0;
}
footer{
    padding-top: 10pc;
    text-align: center;
}
footer img{
    max-width: 39vh;
}