/*
Palheta de cores
1: #000000
2: #215950
3: #87C754
4: #9C813A
5: #99766E
*/ 
/* Configurações Gerais*/
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(180deg, #9c9a9a, #f5f5f5);
    padding: 0;
    margin: 0;
}
footer{
    padding-top: 10pc;
    text-align: center;
}
footer img{
    max-width: 250px;
}
h1{
    color: #9C813A;
}
h2,h3,h4,h5,h6{
    color: #87C754;
}
p{
    color: #99766E;
}

/* Configurações da Nav*/
nav{
    width: 100%;
    display: flex;
    position: fixed;
    background-image: linear-gradient(180deg,#000000,#636363);
    z-index: 99;
    max-height: 10%;
}
nav a{
    color: #fff;
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;
}
nav a img{
    max-width: 250px;
}
nav ul{
    text-align: right;
    float:left;
}
nav li, nav ul li, nav ul li a{
    color: white;
    float: left;
    list-style: none;
    margin-left: 0px;
}
.searchbar{
    margin: auto 20px auto 40px;
    width: 40%;
}
.searchbar img{
    max-width: 10px;
}
.searchbar input[type="search"]{
    margin: auto auto auto auto;
    width: 50%;
    height: 100%;
}
.navbar{
    padding-bottom: 5pc;
}

/* Configurações das Box de produtos*/
.products-container {
    display: flex;
    flex-direction: column;
	max-width: 165.1vh;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
    align-content: center;
    max-height: fit-content;
    background-color: white;
    overflow: auto;
}
.products-container .products-container{
    overflow: visible;
}
.container-padding{
    padding-top: 5pc;
}
.products-container h1,h2{
    text-align: center;
}
.products-container table tr, .products-container table tr td{
    max-width: 50%;
    max-height: 50%;
    min-width: fit-content;
}
.products-container table tr td img{
    max-width: 100%;
}

/* Configurações do Carrosel interativo*/
.item {
	flex: 1;
	margin: 5px;
	padding: 0 10px;
	text-align: center;
	font-size: 1.5em;
}
.item a{
    text-decoration: none;
    color: inherit;
}
.products-slide{
    text-align: center;
}
.slide-show{
  overflow: hidden;
}
.slides-list{
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}